<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.quantslab.docker-sock</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/chmod</string>
		<string>0770</string>
		<string>/Users/albertoloddo/.docker/run/docker.sock</string>
	</array>
	<key>WatchPaths</key>
	<array>
		<string>/Users/albertoloddo/.docker/run</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/tmp/ql-docker-sock.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/ql-docker-sock.log</string>
</dict>
</plist>
